@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 40 35% 93%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 28%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sh-class: #d73a49;
    --sh-identifier: #6f42c1;
    --sh-sign: #d73a49;
    --sh-property: #005cc5;
    --sh-entity: #6f42c1;
    --sh-jsxliterals: #22863a;
    --sh-string: #032f62;
    --sh-keyword: #d73a49;
    --sh-comment: #6a737d;
    --sh-constant: #005cc5;
    --sh-attribute: #6f42c1;
    --sh-regex: #032f62;
    --sh-number: #005cc5;
    --sh-boolean: #d73a49;
    --sh-function: #6f42c1;
    --sh-params: #005cc5;
    --sh-punctuation: #d73a49;
    --sh-operator: #d73a49;
    --sh-variable: #e36209;
    --sh-namespace: #6f42c1;
    --sh-meta: #6f42c1;
    --sh-metastring: #032f62;
    --sh-error: #d73a49;
    --sh-markup: #005cc5;
    --sh-tag: #22863a;
    --sh-attr: #6f42c1;
  }
  .dark {
    --background: 240 17% 12%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sh-class: #79b8ff;
    --sh-identifier: #b392f0;
    --sh-sign: #ff7b72;
    --sh-property: #79b8ff;
    --sh-entity: #b392f0;
    --sh-jsxliterals: #85e89d;
    --sh-string: #9ecbff;
    --sh-keyword: #ff7b72;
    --sh-comment: #6a737d;
    --sh-constant: #79b8ff;
    --sh-attribute: #b392f0;
    --sh-regex: #9ecbff;
    --sh-number: #79b8ff;
    --sh-boolean: #ff7b72;
    --sh-function: #b392f0;
    --sh-params: #79b8ff;
    --sh-punctuation: #ff7b72;
    --sh-operator: #ff7b72;
    --sh-variable: #e36209;
    --sh-namespace: #b392f0;
    --sh-meta: #b392f0;
    --sh-metastring: #9ecbff;
    --sh-error: #ff7b72;
    --sh-markup: #79b8ff;
    --sh-tag: #85e89d;
    --sh-attr: #b392f0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground;
  }

  .title {
    @apply font-serif text-3xl font-bold underline decoration-border/75 decoration-2 underline-offset-8 ;
  }

  /*
  .prose pre {
    @apply overflow-x-auto rounded-lg bg-accent px-5 py-4 text-sm;
  }

  .prose code {
    @apply rounded-lg px-1 py-0.5;
  }

  .prose pre code {
    @apply p-0;
    line-height: 1.75;
  }

  .prose code span {
    @apply font-medium;
  }
    */
}
